/*
* CSS file index.html
* Side bar inspired by https://github.com/BlackrockDigital/startbootstrap-simple-sidebar
*/

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-x: hidden;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

/*
 * Navbar specs
 */
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled{
    padding-left: 250px;
}

h1, h2 {
	text-align: center;
}

label {
  color: #EFEFEF;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #111B63;
  background-color: #f5f5f5;
  text-align: center;
  overflow: hiddel;
}

p.left {
  margin-left:-50px;
  line-height: 1px;
}

#d3 {
    position: absolute;
}
