/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */


body, button, input, select, textarea { font-family: sans-serif; color: #fff; } 
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
